[Unit]
Description=slurmctld
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/sbin/slurmctld

[Install]
WantedBy=multi-user.target

